*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(218, 218, 218);
}

header
{
    background-color: rgb(248, 168, 181);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    text-decoration: black;
}

.card div
{
    background-color: white;
    width: 250px;
    height: 70px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px gray;
    justify-content: center;
    align-items: center;
}

.card h5
{
    font-size: smaller;
    text-align: center;
}

.card img
{
    border-radius: 10px;
}

.card button
{
    background-color: rgb(253, 147, 164);
    height: 30px;
    border: none;
    padding: 4px;
    width: 100%;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
}

a p
{
    text-align: center;
}

/*comandoo "text-decoration: none;" colocado para retirar a linha preta do link, por motivos estéticos*/
a:link
{
    color: black;
    text-decoration: none;
}
a:visited
{
    color: black;
    text-decoration: none;
}
